@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;;
    background-color:blanchedalmond;
}

.calculator {
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.number {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
}